.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
      background-color: #fff;
      opacity: 1;
      border-top: 0px;
      border-right: 0px;
      border-left: 0px;
  }

  .rows:after {
    content: "";
    display: table;
    clear: both;
  }
