/* css login  */

.mar-zero{
  margin:0px;
}

.mar-btn-20{
  margin-bottom: 20px;
}

.icon-h{
  display: none;
}

.icon-r{
  color: #a94442 !important;
}


.login-logo a{
  color: #FFF;
}

.login-page {
  /* The image used */
  /* background: #02001d !important; */
  background-image: url("../../../image/bg_tran.png");
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*------------------------*/

/* .login-logo img {
	width: 70%;
} */

.login-box-body {
	background: #f0f0f0;
}

.login-box a {
	color: #fe4203;
}

.login-box button[type=submit]{
	background: #fe4203;
	border: none;
	width: 40%;
}
