.btn-search
{
  margin-top: 33px;
}


@media (max-width: 991px) {
  .btn-search
  {
    margin-top: 0px;
  }
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
      background-color: #fff;
      opacity: 1;
      border-top: 0px;
      border-right: 0px;
      border-left: 0px;
  }

  .rows:after {
    content: "";
    display: table;
    clear: both;
  }
