

  /* .break{
      page-break-after: always;
    }

  @page {
    size: A4;
    margin: 0;

  } */

  .row {
    margin-right: -15px;
    margin-left: -15px
  }

  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1
  {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
  }

  .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    float: left
  }

  @media (min-width:992px) {
    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
      float: left
    }
    .col-md-12 {
      width: 100%
    }
    .col-md-11 {
      width: 91.66666667%
    }
    .col-md-10 {
      width: 83.33333333%
    }
    .col-md-9 {
      width: 75%
    }
    .col-md-8 {
      width: 66.66666667%
    }
    .col-md-7 {
      width: 58.33333333%
    }
    .col-md-6 {
      width: 48%
    }
    .col-md-5 {
      width: 41.66666667%
    }
    .col-md-4 {
      width: 33.33333333%
    }
    .col-md-3 {
      width: 25%
    }
  }

  @media print {
      .tbroder {
         padding:3px 5px 3px 5px;
         border:1px solid #333;
      }
      .info{
        /* font-size:16pt; */
        text-align:left;
      }
      .content{
        padding: 5px;
        font-size:12pt !important;
      }

      .text-left{
        text-align: left;
      }
      .text-center{
        text-align: center;
      }

      .thStyle {
        text-align: center;
        background-color:#e7e6e6;
        font-weight: bold;
        padding: 5px 5px 5px 5px;
        font-size:12pt !important;
      }

      td{
        vertical-align: middle !important;
        /* padding: 5px; */
      }

      .barcode{
        display: block;
        text-align: center;
      }

      .break{
        page-break-after: always;
      }

      .row {
        margin-right: -15px;
        margin-left: -15px
      }

      .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1
       {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px
      }

      .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
        float: left
      }

      .col-md-6 {
        width: 47%
      }


  }
